header {
    background-image: url(/img/open-communication_ooo.svg);
    background-repeat: no-repeat;
    background-position: 2rem -2.5rem;
    background-size: 15rem;
}

a.logo {
    display: block;
    width: 20rem;
    height: 10rem;
}
a.logo img {
    width: 15rem;
    margin: 1rem;
    margin-left: 2rem;
    transition: width 1s;
}
a.logo:hover img {
    width: 16rem;
    transition: width 1s;
}

.toggle {
    float: right;
    margin:2rem;
}

header nav {
    display: flex;
}


#nav-top {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    justify-content: center;
}
#nav-top a {
    text-decoration: none;
    padding:0.7rem;
}
#nav-top a:hover {
    text-decoration: underline;
}


.toggle {display:none;}
/*
@media only screen and (min-width: 800px) {
    .toggle {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    #fish-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    #nav-top.hide-nav {
        display: none;
    }
}
*/