nav.infobox {
    width: 50%;
    float:right;
    background-color: $fish-brighter;
    margin-top: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding-left: 1rem;
}
nav h5 {
    margin:0;
    padding:0;
}
