// colors
$background-cyan: rgba(10.2, 65.1, 70.2, 0.41);
$background-cyan: #1aa6b3; /* 41% opacity */
$background-blue: rgba(14.5, 67.1, 67.1, 0.41);
$background-blue: #25abc3; /* 41% opacity */
$background-blue: rgba(17.4, 60, 81.5, 0.41);
$background-blue-blue: #2c99d0; /* 41% opacity */
$fish-bright: #79cbc2;
$fish-middle: #136d6d;
$fish-dark: #115552;

$font-color: #000;
$link-color: #79cbc2;
$title-color: #115552;
$border-color: #79cbc2;

// sizes
$page-width: 1200px;
